
@inject NavigationManager NavigationManager
@if (Documents != null && Documents.Count > 0)
{
    @foreach (var document in Documents)
    {
        <tr>
              <td>@document.Title</td>
              <td>@document.ShortDiscription</td>
                @if(document.DatePublished != null)
                {
                   <td> @document.DatePublished.Value.Year </td >
                }
              <td>
                   <MudButton Size="Size.Small" Variant="Variant.Filled" DisableElevation="true"
                   OnClick="@(() => EditDocument(document.Id))">
                    EDIT
                   </MudButton>
              </td>
        </tr>
    }
}
@code {
    [Parameter]
    public List<Document> Documents { get; set; } = new List<Document>();
    private void EditDocument(int documentId)
    {
        NavigationManager.NavigateTo($"/editdocument/{documentId}");
    }
}
